{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>RBL Group No:8(Varun Dubey, Arvind Jhanwar, Kartik Pal)</h3>
                <p class="lead" style="font-weight: 350;">"This is our RBL Project, in which we utilized Machine Learning(ML) and Deep Learning(DL) algorithms, such as CNN and Torchvision to create the model for development purposes, we employed the Flask Framework and for deployment we utilized a EC2 instance. AWS is a cloud service provider."</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:amaheshwari2110@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                amaheshwari2110@gmail.com<br><br>
                <a target="_blank" href='https://kartikpal.hashnode.dev/revolutionizing-agriculture-plant-species-diseases-detection-using-ml'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : Revolutionizing Agriculture: Plant Species & Diseases Detection using DL<br><br>
                <a target="_blank" href='https://github.com/amahesh02/Plant_Disease_Detection.git'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                amahesh02<br><br>
                <a target="_blank" href='www.linkedin.com/in/arvind-jhawar'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                Arvind Jhanwar<br>
            </div>
        </div>
    </div>

{% endblock body %}
